.sidebar{
    position: relative;
    float: right;
    width: 100vw;
    height: 15rem;
    background-size: cover;
    background-image: url("https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/26739/Red-Orange-Combination-Inside-Gradation-Blur-iphone-8-wallpaper-ilikewallpaper_com.jpg");
    z-index: 33;
    transition: right 0.3s ease-in ;
    right: 0rem;
    
    
}
.sidebar.show{
    right: -100vw;
    opacity: 100;
    
}
.holder{
    height: 0px;
}
.layout{
    overflow-x: hidden;
}
.hambutton{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 5rem;
    
}
.hambutton:hover{
    color: white;
    border-color: #d85603;
}

.hamprofilebutton{
    display: flex;
}
.hamloginbutton{
    top: 4rem;
    position: relative;
    display: flex;

}
.hamprofactual{
    position: relative;
    margin-left:auto ;
    margin-right: auto;
    top: 2rem;
}

.hamprofactual:hover{
    color: white;
    border-color: #d85603;
}
.hamlogoutactual:hover{
    color: white;
    border-color: #d85603;
}
.loginfinal:hover{
    transition: color .05s ease-in ;
    color: #d85603;
    background-color: white;
}
.logoutfinal{
    transition: color .05s ease-in ;
    color: #d85603;
    background-color: white;
}
.profilefinal{
    transition: color .05s ease-in ;
    color: #d85603;
    background-color: white;
}
.hamlogoutactual{
    margin-left: auto;
    margin-right: auto;
}
.buttonholder{
    display: flex;
}