body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.randomText{
  margin-right: 1rem;
  display: inline-block;
  font-size: 1rem;
}
.phortoSmall {
  height: 100px;
  width: 150px;
  text-align: right;
  position: relative;
  left: 80rem;
}

.searchAndAdd{
  display: flex;
  margin-right: 1rem;
}
.preventtextoverflow{
  
  width:80rem;
  word-wrap: break-word;

}
.fromclass{
  font-size: 1.5rem;
}

.loginprofilebuttons{
  position: relative;
  bottom: -.1rem;
  margin-left: 6vw;
  margin-right: 4.5rem;
}
.link{
  color: #FFF;
  text-decoration: underline;
}
.profilebutton{
  margin-right: 1rem;
}
.navbuttons{
  display: flex;
  font-size: 1.9rem;
  position: relative;
  bottom: -.3rem;
}

.filtericon{
  position: relative;
  top:.35rem;
  right: .4rem;
  margin-left: auto;
}
.filtersearch{
  width: 10rem;
}
.photo {
  height: 100px;
  width: 150px;
  position: relative;
  left: 0px;
  margin-right: 2rem;
  float: left;

}
.mainlist{
  

}
.mainlisttext{
  display: inline;
}
.mainlisttitle{
  font-size: 1.5rem;
}
.AutoComplete{
  
}





